.input_nota {
  background-color: rgba(0, 0, 0, 0.116);
}

.addnota_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#demo-simple-select {
  background-color: rgba(0, 0, 0, 0.116);
}
